[submodule "ci/js/select2"]
	path = ci/js/select2
	url = git://github.com/ivaynberg/select2.git
[submodule "ci/js/anythingslider"]
	path = ci/js/anythingslider
	url = https://github.com/CSS-Tricks/AnythingSlider.git
[submodule "ci/js/pqgrid"]
	path = ci/js/pqgrid
	url = https://github.com/swarzesherz/grid.git
[submodule "ci/application/third_party/PHPExcel"]
	path = ci/application/third_party/PHPExcel
	url = https://github.com/PHPOffice/PHPExcel.git
[submodule "ci/js/pnotify"]
	path = ci/js/pnotify
	url = https://github.com/sciactive/pnotify
