@font-face {
	font-family: 'Biblat';
	src:url('../fonts/Biblat.eot?-l0vgxa');
	src:url('../fonts/Biblat.eot?#iefix-l0vgxa') format('embedded-opentype'),
		url('../fonts/Biblat.woff?-l0vgxa') format('woff'),
		url('../fonts/Biblat.ttf?-l0vgxa') format('truetype'),
		url('../fonts/Biblat.svg?-l0vgxa#Biblat') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="bl-"], [class*=" bl-"] {
	font-family: 'Biblat';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.bl-sub:before {
	content: "\e600";
}
.bl-large:before {
	content: "\e601";
}
.bl-single:before {
	content: "\e602";
}
.bl-logo:before {
	content: "\e603";
}
.bl-unam:before {
	content: "\e604";
}
.bl-dgb:before {
	content: "\e605";
}
.bl-all:before {
	content: "\e606";
}

body{
	background-color: #E7E7E7;
}

a {
    color: #ff8000;
    outline: 0 !important;
}

a.text {
	color: #333;
}

ol.nested { counter-reset: item; }
ol.nested li { display: block;}
ol.nested li:before { content: counters(item, ".") ". "; counter-increment: item }
ol.nested ol li:before { content: counters(item, ".") " "; counter-increment: item }

.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
  background-color: #f5f5f5;
}

.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
  background-color: #f0f0f0;
}

header{
	background: url("../img/px_header.jpg") repeat-x scroll;
	background-color: #555555;
}

header {
	color: #FAFAFA;
}
header #biblat-logo {
	padding-top: 34px;
	letter-spacing: 10px;
}
header #biblat-logo .bl-single{
	font-size: 77px;
}

header #biblat-logo .bl-large{
	color: #A5A5A5;
	font-size: 20px;
}

header #biblat-logo .bl-sub{
	color: #E17636;
	font-size: 16.8px;
}

header #biblat-logo a {
  color: #FAFAFA;
  text-decoration: none;
  outline: 0;
  &:hover {
    text-decoration: none;
  }
}

header .biblat-logo-main{
	padding-top: 20px !important;
}

header #dgb-unam {
	color: #D5D5D5;
	padding-top: 10px;
	padding-bottom: 5px;
	letter-spacing: 10px;
}

header #dgb-unam a {
  color: #D5D5D5;
  text-decoration: none;
  outline: 0;
  &:hover {
    text-decoration: none;
  }
}

@media (max-width: 991px) {
  header .navbar-main{
	background-color: #FF8000;
  }
}

.navbar-main .dropdown-menu {
	background-color: #FF8000;
}

.navbar-main .dropdown-menu > li > a:hover,
.navbar-main .dropdown-menu > li > a:focus {
	background-color: #555555;
	background-image: none;
}

header .nav > li > a {
	padding: 15px 5px;
}

header .navbar{
    border-bottom: 0 none;
    margin-bottom: 10px;
}

@media (max-width: 991px) {
  header .navbar{
    margin-bottom: 0;
  }
}

header .navbar-default{
	background-color: #FF8000;
	background-image: none;
	border-color: #FF8000;
}

header .navbar-default .navbar-nav > li > a{
	color: #FAFAFA;
}

@media (min-width: 768px) and (max-width: 1199px) {
	header .navbar-default .caret{
		border-left: 3px solid transparent;
		border-right: 3px solid transparent;
		border-top: 4px solid;
		margin-left: 1px;
	}
}

header .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #FAFAFA;
}

header .navbar-brand {
    padding: 9px 10px;
}

header .navbar-default .navbar-brand {
    color: #FAFAFA;
}

header .navbar-brand .bl-single {
	font-size: 1.7em;
}

header .navbar-default .navbar-toggle {
	color: #FAFAFA;
}

header .navbar-default .navbar-toggle .icon-bar {
    background-color: #FAFAFA;
}

header .form-group {
	margin-bottom: 10px;
}

#searchform #slug, .autosizejs {
    height: 34px;
    resize: none;
    background-color: #EEEEEE;
}

/*  Advanced Search for jQuery UI  */
#searchform #advsearch{
	background: #EEEEEE;
	padding-top: 5px;
	display: none;
}
.evo-advSearch{
	height: auto;
}

#searchform .ui-button-icon-only {
	margin-top: 1px;
    width: 1.6em;
    height: 22px;
}

.evo-advSearch{
	min-height:20px;
	padding:2px;
}

.evo-bNew, .evo-bAdd, .evo-bDel, .evo-bSubmit, .evo-searchFilters a{
	margin:1px 6px 2px 1px;
}
.evo-lBold{
	font-weight: bold;
}
.evo-lLight{
	font-weight: normal;
}

.lLight-Red{
	font-weight: normal;
	color: #FF0000;
}

.evo-searchFilters a span.ui-button-text{
	padding: 0px 33px 4px 12px;
}

.evo-editFilter{
	vertical-align: middle;
    display: inline-block;
}
.evo-editFilter select, .evo-editFilter input{
	margin: 2px 6px 2px 1px;
	font-size: 14px; 
}
.evo-editFilter span#value {
	margin-right:5px;
}
.evo-editFilter #value input[type="checkbox"] {
	margin-left:5px;
}
.evo-editFilter input[type="number"]#value,
.evo-editFilter input[type="time"]#value,
.evo-editFilter input[type="time"]#value2 {
	width:6em;
}

.evo-editFilter input.hasDatepicker{
	width:7em;
}

.evo-editFilter > input,
.evo-editFilter > select {
    padding: 2px 12px 4px;
    font-size: 13px;
    line-height: 14px;
    color: #555;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

.evo-editFilter > .select2-container{
	display: inline-block;
	margin: 0;
	position: relative;
	vertical-align: middle;
	margin:2px 6px 3px 1px;
	font-size: 13px; 
}

.evo-editFilter > .select2-container .select2-choice, .evo-editFilter > .select2-container .select2-choices{
	height: 22px;
	line-height: 22px;
}

.evo-editFilter > .select2-container-multi *{
	font-size: 11px;
	line-height: 11px;
}
.evo-advSearch a{
	outline: 0;
}

.btn-group > .btn-search:first-child {
	margin-left: -10px;
}

.btn-search {
	padding: 5px 10px;
	margin: -5px -10px;
	border: 0 none;
	background: none;
}

#main-search {
	padding: 15px 0;
}

#main-search .btn-search, #main-search textarea, #main-search #advsearch, #main-search .select2-default{
	font-size: 1.5em;
}

#main-search .input-group-addon{
	background: #FF8000;
	border: 1px solid #CCCCCC;
}

#main-search #searchform #slug, .autosizejs{
	height: 44px;
}

#main-search #searchform #advsearch {
    padding-bottom: 6px;
    padding-top: 4px;
}

#main-search #searchform .ui-button-icon-only {
    margin-top: 6px;
}

#main-search .evo-editFilter > input, #main-search .evo-editFilter > select {
    padding: 4px 12px 2px;
}

#heading {
	background-color: #FAFAFA;
}

#heading .breadcrumb{
	color: #606060;
    font-size: 12px;
}

#heading .page_title hr {
	border-color: #555555;
}

.page_title h4, .page_title h5 {
	margin-left: 20px;
	color: #DF6521;
}

#heading .nav > li > a {
	padding: 15px 5px;
	font-size: 20px;
}
@media (min-width: 768px) and (max-width: 991px) {
	#heading .nav > li > a {
		padding: 15px 8px;
		font-size: 20px;
	}
}

#heading .navbar-default{
	background-color: #B1B2B4;
	background-image: none;
	border-color: #B1B2B4;
}

#heading .navbar-default .navbar-nav > li > a{
	color: #FAFAFA;
}

#heading .navbar-default .navbar-nav > li > a:hover {
	color: #0A0A0A;
}

#heading .navbar-default .navbar-nav > .open > a, 
#heading .navbar-default .navbar-nav > .open > a:hover, 
#heading .navbar-default .navbar-nav > .open > a:focus {
	color: #0A0A0A;
}

#main {
	background-color: #FAFAFA;
}

footer a {
	color: #555555;
}


#sitemap {
	background: url("../img/px_site.jpg") repeat-x scroll #D4D4D4;
	padding-top: 10px;
	font-size: 12px;
}

#copyright {
	background-color: #FF8000;
	color: #FAFAFA;
	font-size: 11px;
	padding: 15px;
}

/*plugins*/
.ui-widget {
	font-family: inherit;
}
.ui-pnotify.stack-bar-top {
    right: 0;
    top: 0;
}

.jslider {
	height: 2em;
}

.jslider .jslider-value {
	background: none;
}
/*Formulas*/
.formula{
	font-weight: bold;
	font-size: 16px;
	text-align: center;
}

.fraction {
	display: inline-block;
	position: relative;
	vertical-align: middle; 
	letter-spacing: 0.01em;
	text-align: center;
	}
.fraction > span { 
	display: block; 
	padding: 0.2em; 
	}
.fraction span.fdn {border-top: thin solid black;}
.fraction span.bar {display: none;}

.n-root {
	position: relative;
	top: -1.3em;
	left: 1.9ex;
	font-size: 45%;
	}
.radical {
	font-size: 1.7em;
	vertical-align: middle;
	}
.radicand { 
	padding: 0.5ex;
	border-top: thin black solid;
	}

.intsuma {
	display: inline-block;
	position: relative;
	vertical-align: middle;
	text-align: center;
	margin-bottom: 0.5ex;
	}
.intsuma .lim, .intsuma .lim-up {
	display: block;
	font-size: 75%;
	text-align: center;
	}
.intsuma .lim-up {
	margin-bottom: 0;
	margin-left: 0.8ex;
	}
.intsuma .lim {margin-bottom: -0.6ex;}
.intsuma .sum {font-size: 1.2em;}
.intsuma .sum-frac {font-size: 2em;}
/*Generales*/
.nowrap {
	white-space: nowrap;
}
table.articulo{
	width: 650px;
}
.solicitudDocumento, #sd-disable{
	display: none;
}
.addthis_toolbox{
	width: 160px;
}
.dropdown-menu .dropdown-menu {
	position: static;
	float: none;
	padding: 5px 0;
	margin: 2px 0 0;
	list-style: none;
	font-size: 14px;
	background-color: #ff8000;
	border: none;
	border: none;
	border-radius: 0;
	-webkit-box-shadow: none;
	box-shadow:none;
	background-clip: padding-box;
}

#alfabetico {
	background: #F5F5F5;
	padding: 10px;
}

#alfabetico p {
	margin: 0px;
}

#alfabetico	p:first-child{
	border-top: 2px solid #D9D9D9;
	border-left: 2px solid #D9D9D9;
	border-right: 2px solid #D9D9D9;
	height: 1em;
}
#alfabetico	p:last-child{
	border-bottom: 2px solid #D9D9D9;
	border-left: 2px solid #D9D9D9;
	border-right: 2px solid #D9D9D9;
	height: 1em;
}
#alfabetico p a{
	color: #606060;
	font-size: 1.1em;
	margin: -3px;
	padding: 4px;
}

#alfabetico p a:hover{
	color: #FAFAFA;
	text-decoration: none;
	background: #FF8000;
}

#main-sections h3{
	color: #606060;
	padding-bottom: 12px;
	text-align: left;
	background: url("../img/plk_h.png") repeat-x scroll left bottom;
}

.tagCloud text {
    cursor: pointer;
}
.tagCloud text:hover {
    opacity: 0.7 !important;
}

.orange-list {
	padding-left: 15px;
}
.orange-list li{
	list-style-type: none;
}

.orange-list li:before {
	content: "•";
	font-size: 1.2em;
	color: #EF7E00;
	margin-right: 7px;
    font-weight: bold;
}
.orange-list > li a {
	color: #333;
}

.list-striped > li:nth-child(odd) a {
	color: #757575;
}
#carousel-pais .carousel-caption {
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, .001) 0%, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, .001) 100%);
  background-image: 	 -o-linear-gradient(left, rgba(0, 0, 0, .001) 0%, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 1) 50%, rgba(0 ,0, 0, .001) 100%);
  background-image: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,0,0,.001)), color-stop(50%, rgba(0,0,0,1)), color-stop(50%, rgba(0,0,0,1)), color-stop(100%, rgba(0,0,0,.001)));
  background-image:         linear-gradient(to right, rgba(0, 0, 0, .001) 0%, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, .001) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
  background-repeat: repeat-x;
  left: 10%;
  right: 10%;
  bottom: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
}

#carousel-scielo {
	padding-bottom: 20px;
}
#carousel-scielo .carousel-indicators{
	bottom: 0px;
}
#carousel-scielo .carousel-indicators li{
	border: 1px solid #333;
}
#carousel-scielo .carousel-indicators .active{
	background-color: #333;
}
#floatTableContainer {
	display: none;
}
#tab-chars .ui-widget-content{
	border: 0px;
	background: transparent;
}
#tab-chars .ui-widget-header{
	border: 0px;
	border-bottom: 1px solid #CCC;
	background: transparent;
}
#tab-chars .ui-tabs .ui-tabs-nav, #tab-chars .ui-tabs .ui-tabs-panel{
	padding: 0px;
}

#tab-chars .carousel-control{
	width: 20px;
}
#tab-chars .carousel-control:hover,
#tab-chars .carousel-control:focus {
  color: #222;
}
#tab-chars .carousel-control.left{
	background: none;
}
#tab-chars .carousel-control.right{
	background: none;
}
#tab-chars .glyphicon-chevron-left:before,
#tab-chars .glyphicon-chevron-right:before{
	content: "";
}
#tab-chars .carousel-control .icon-prev,
#tab-chars .carousel-control .glyphicon-chevron-left {
  margin-left: -10px;
}

#tab-chars .carousel-control .icon-next,
#tab-chars .carousel-control .glyphicon-chevron-right {
  margin-right: -10px;
}

#tab-chars .carousel-indicators {
  bottom: 0px;
  left: 90%;
}

#tab-chars .carousel-indicators li {
  border: 1px solid #333;
}

#tab-chars .carousel-indicators .active {
  background-color: #333;
}

.chart_data div{
	margin: 0 auto;
}

.bold {
	font-weight: bold;
}

.table-responsive {
	width: 100%;
	margin-bottom: 15px;
	overflow-x: auto;
	overflow-y: hidden;
	-webkit-overflow-scrolling: touch;
	-ms-overflow-style: -ms-autohiding-scrollbar;
	border: 1px solid #ddd;
}

#i-journals a {
    color: #ff8000;
    outline: 0 !important;
}

#accordion .glyphicon { margin-right:10px; }
#accordion.panel-group div.panel.panel-default div.panel-heading h4.panel-title a{
	text-decoration: none;
}
.panel-collapse>.list-group .list-group-item:first-child {border-top-right-radius: 0;border-top-left-radius: 0;}
.panel-collapse>.list-group .list-group-item {border-width: 1px 0;}
.panel-collapse>.list-group {margin-bottom: 0;}
.panel-collapse .list-group-item {border-radius:0;}

.panel-collapse .list-group .list-group {margin: 0;margin-top: 10px;}
.panel-collapse .list-group-item li.list-group-item {margin: 0 -15px;border-top: 1px solid #ddd;border-bottom: 0;padding-left: 60px;}
.panel-collapse .list-group-item li.list-group-item:last-child {padding-bottom: 0;}

.panel-collapse div.list-group div.list-group{margin: 0;}
.panel-collapse div.list-group .list-group a.list-group-item {border-top: 1px solid #ddd;border-bottom: 0;padding-left: 60px;}

.panel-collapse ul.list-group li.list-group-item {border-top: 1px solid #ddd;border-bottom: 0;padding-left: 30px;}
.panel-collapse ul.list-group li.list-group-item a {text-decoration: none; color: #555;}
.panel-collapse ul.list-group li.list-group-item a:hover {color: #DF6521;}

