* {
	margin: 0;
}
html, body {
	height: 100%;
}
body {
	background-color: #FAA94D;
}

.textoL{
	font-family: Verdana,Geneva,sans-serif;
	font-size: 14px;
	color: #666666;
}

.textoTitulo{
	font-family: Verdana,Geneva,sans-serif;
	font-size: 16px;
	color: #666666;
	padding: 20px;
	font-weight: bold;
}

.ident1{
	margin-left: 1em;
}

.ident2{
	margin-left: 2em;
}
.ident3{
	margin-left: 3em;
}
.ident4{
	margin-left: 4em;
}

@font-face {
  font-family: 'FontAwesome';
  src: url('fonts/fontawesome-webfont.eot');
  src: url('fonts/fontawesome-webfont-iefix.eot') format('embedded-opentype'),
    url('fonts/fontawesome-webfont.woff') format('woff'),
    url('fonts/fontawesome-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -134px;
	background-color: #FBFCEF;
	min-width: 1000px;
}

.push {
	height: 110px;
}

.search
{
	border: 1px solid #000000;
	width: 500px;
	background: #FFFFFF;
}

.search input[type="text"]
{
	background: none;
	border: 0 none;
	float: left;
	height: 1.5em;
	line-height: 1.5em;
	margin: 0;
	width: 480px;
}

.search input[type="submit"]
{
	background: #FFFFFF url(./images/search.png);
	border: 0 none;
	height: 1.5em;
	line-height: 1.5em;
	margin: 0;
	padding: 3px 0;
	text-indent: 100px;
	width: 20px;
}

.search input[type="submit"]:hover
{
	cursor: pointer;
	cursor: hand;
}

.centrado
{
	margin: 0 auto;
	text-align: center;
}


.highlight {
	background-color: #FFFF88;
	font-weight: bold;
}

.footer {
	font: 0.7em Verdana, Geneva, sans-serif !important;
	color: #FFFFFF;
	background-color:#FAA94D;
	min-width: 1000px;
}

.bannerLeft {
	display: block;
	float: left;
	height: 134px;
	width: 50%;
	background-color: #FBFCEF;
}

.bannerRight {
	display: block;
	float: right;
	height: 134px;
	width: 50%;
	background-color: #FAA94D;
}

.banner {
	display: block;
	position: relative;
	height: 134px;
	width: 1000px;
	margin: 0 auto;
	background-image: url(../img/banner.png);
}

.bannerLinks {
	height: 110px;
	width: 870px;
	top: 16px;
	margin-left: 50px;
	position: relative;
}

.bannerLinks .biblatLink{
	display: block;
	height: 110px;
	width: 235px;
	position: absolute;
	float: left;
}

.bannerLinks .unamLink{
	display: block;
	height: 60px;
	width: 60px;
	top: 18px;
	margin-left: 730px;
	position: absolute;
	float: left;
}

.bannerLinks .dgbLink{
	display: block;
	height: 60px;
	width: 60px;
	top: 18px;
	margin-left: 805px;
	position: absolute;
	float: left;
}


.menuContainer {
	display: block;
	height: 29px;
	width: 950px;
	margin: 0 auto;
	border-top: 2px solid #114D66;
	border-left: 2px solid #114D66;
	border-right: 2px solid #114D66;
	border-bottom: 1px solid #FFFFFF;
	padding: 0 2px 0;
	-moz-border-radius: 10px 10px 0 0;
	border-radius: 10px 10px 0 0;
	background-color: #83B8CE;
	margin-top: 5px
}

.menu {
	display: block;
	border-radius: 10px;
	float: left;
	text-align: center;
	background-color: #83B8CE;
	background-image: -moz-linear-gradient(bottom center , #83B8CE, #68AFCE);
	background-image: -webkit-gradient(linear, bottom center, top center, from(#83B8CE), to(#68AFCE));
}

.menu a:link, 
.menu a:visited, 
.menu a:hover, 
.menu a:active {
	color: #FFFFFF;
	text-decoration:none;
} 

.menuRight {
	float: right;
}

.menu ul {
	list-style: none outside none;
	padding: 0;
}

.menu li {
	border-right: 1px solid rgba(255, 255, 255, 0.70);
	cursor: pointer;
    display: inline-block;
    float: left;
    position: relative;
    text-shadow: 0 0 2px #000000;
    top: 1px;
    transition: all 0.2s ease 0s;
    -webkit-transition: all 0.2s ease 0s;
    padding: 6px 10px;
    color: #FFFFFF;
    font-size: 13px;
    font-weight: bold;
}

.menuRight li {
	border-right: 0;
	border-left: 1px solid rgba(255, 255, 255, 0.70);
	padding: 5px 10px;
}

.menu ul li:hover {
	background-color: #68AFCE;
	border-radius: 5px 5px 0 0;
}

.menu ul li:hover ul {
    display: block;
    opacity: 1;
    visibility: visible;
}

.menu ul li ul {
	border-left: 1px solid #FFFFFF;
	border-right: 1px solid #FFFFFF;
	border-bottom: 1px solid #FFFFFF;
	border-top: 1px solid #68AFCE;
	border-radius: 0 0 5px 5px;
	box-shadow: -4px 8px 5px rgba(0, 0, 0, 0.5);
	background-color: #68AFCE;
    display: none;
    left: -2px;
    opacity: 0;
    padding: 0;
    position: absolute;
    top: 28px;
    transition: opacity 0.2s ease 0s;
    visibility: hidden;
    z-index: 400;
}

.menu ul li ul li:hover {
	background-color: transparent;
}

.menu ul li ul li{
	border: 0;
	display: block;
    float: none;
    border-bottom: 1px solid #FFFFFF;
    border-radius: 0 0 5px 5px;
}

.searchContainer {
	width: 950px;
	background-color: #83B8CE;
	margin: 0 auto;
	padding: 10px 2px;
	border-left: 2px solid #114D66;
	border-right: 2px solid #114D66;
}

.searchform {
	background: none;
	-webkit-box-shadow: inset 0 0 5px rgba(0,0,0, 0.4), rgba(255,255,255,0.1) 0 1px 0;
	box-shadow: inset 0 0 5px rgba(0,0,0, 0.4), rgba(255,255,255,0.1) 0 1px 0;
	border-radius: 4px;
	border: 1px solid rgba(0,0,0,0.25);
	color: #fff;
	text-shadow: rgba(0, 0, 0, 0.796875) 0px -1px 0px, rgba(255, 255, 255, 0.296875) 0px 0px 10px;
}

.searchform {
	width: 40%;
	padding: 0;
	border-radius: 20px;
	position: relative;
	margin: 0 auto;
}

.searchform input {
	text-decoration: none;
	font-size: 13px;
	padding: 5px 10px;
	margin: 0;
	background-color: transparent;
	border-style: none;
	color: #fff;
	line-height: 1.3;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.76);
	width: 85%;
	box-shadow: none;
}

.searchform input:focus {
	outline: none;
}

.searchform input::-webkit-input-placeholder {
	color: #fff;
}
.searchform input:-moz-placeholder { /* 1 */
	color: #fff;
}
.searchform input::-moz-placeholder {
	color: #fff;
}
.searchform input:-ms-input-placeholder {
	color: #fff;
}
.searchform input:placeholder { /* 2 */
	color: #fff;
}

.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
}

.icon-search:before {
    content: "\f002";
}

[class^="icon-"],
[class*=" icon-"] {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  display: inline;
  width: auto;
  height: auto;
  line-height: normal;
  vertical-align: baseline;
  background-image: none;
  background-position: 0% 0%;
  background-repeat: repeat;
  margin-top: 0;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
    display: inline-block;
    text-decoration: inherit;
}

.searchform .icon-search {
	position: absolute;
	right: 10px;
	top: 1px;
	bottom: 3px;
	border-width: 0;
	border-left: 1px solid rgba(7, 7, 7, 0.65);
	background-color: transparent;
	padding: 0 0 0 7px;
	opacity: 0.40;
	color: #fff;
	font-size: 16px;
}

.footerRight {
	position: absolute;
	left: 50%;
	display: block;
	float: right;
	height: 134px;
	width: 50%;
	background-color: #FBFCEF;
}

.bannerFooter {
	display: block;
	position: relative;
	height: 134px;
	width: 1000px;
	margin: 0 auto;
	background-image: url(../img/footer.png);
	color: #114D66;
	text-align: center;
	font-weight: bold;
}

.copyright {
	margin: 0 auto;
	text-align: center;
	font-weight: bold;
	padding: 45px;
	width:80%;
	opacity: 50%;
	max-width: 950px;
}

.contenido {
	border-left: 2px solid #114D66;
	border-right: 2px solid #114D66;
	border-bottom: 2px solid #114D66;
	margin: 0 auto;
	padding: 1px 2px 20px;
	background-color: #FEFEFE;
	width: 950px;
	position: relative;
	-moz-border-radius: 0 0 10px 10px;
	border-radius: 0 0 10px 10px;
	z-index: 10;
}

.flagContainer{
	display: inline-block;
	width: 950px;
	height: 25px;
	margin-top: 15px;
    margin-bottom: 15px;
    position: relative;
}

.flagContainerLeft {
	width: 50%;
}

.flag {
    border: 1px solid #FFFFFF;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
    color: #3D1F12;
    font-size: 14px;
    font-weight: bold;
    left: -7px;
    margin: 0;
    position: relative;
    float: left;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    top: 0;
    transform: skew(-10deg, 0deg);
    -webkit-transform: skew(-10deg, 0deg);;
    margin-top: 0px;
}

.flag, .flag em {
    background-color: #FAA84D;
    background-image: -moz-linear-gradient(left center , #FDCF9C, #FAA84D);
    background-image: -webkit-gradient(linear, left center, right center, from(#FDCF9C), to(#FAA84D));
}

.flag em {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #FFFFFF -moz-use-text-color #FFFFFF #FFFFFF;
    border-bottom-color: #FFFFFF;
    border-top-color: #FFFFFF;
    border-left-color: #FFFFFF;
    border-image: none;
    border-style: solid none solid solid;
    border-width: 1px 0 1px 1px;
    display: block;
    font-style: normal;
    margin: -1px 5px -1px -6px;
    padding: 4px 4px 0;
    text-indent: 12px;
    transform: skew(10deg, 0deg);
    -webkit-transform: skew(10deg, 0deg);
}

.flag em a {
	color: #3D1F12;
	font-size: 14px!important;
	font-weight: bold;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	font-style: normal;
	text-decoration: underline;
}

.flag:after {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: transparent #FAA84D #FAA84D transparent;
    border-image: none;
    border-style: solid;
    border-width: 3px;
    content: "";
    display: block;
    height: 0;
    left: -7px;
    position: absolute;
    top: -7px;
    transform: skew(10deg, 0deg);
    -webkit-transform: skew(10deg, 0deg);
    width: 0;
}

.flagRight {
	position: relative;
	float: right;
	left: 5px;
	right: -5px;
	transform: skew(10deg, 0deg);
    -webkit-transform: skew(10deg, 0deg);;
}

.flagRight, .flagRight em {
    background-image: -moz-linear-gradient(left center , #FAA84D, #FDCF9C);
    background-image: -webkit-gradient(linear, left center, right center, from(#FAA84D), to(#FDCF9C));
}

.flagRight em {
	padding: 4px 14px 0 4px;
	border-color: #FFFFFF #FFFFFF #FFFFFF -moz-use-text-color;
    border-bottom-color: #FFFFFF;
    border-top-color: #FFFFFF;
    border-right-color: #FFFFFF;
	border-style: solid solid solid none;
	border-width: 1px 1px 1px 0;
	margin: -1px -6px -1px 5px;
    transform: skew(-10deg, 0deg);
    -webkit-transform: skew(-10deg, 0deg);
}

.flagRight:after {
    height: 0;
    left: 100%;
    position: absolute;
    top: -7px;
    transform: skew(45deg, 0deg);
    -webkit-transform: skew(45deg, 0deg);
    width: 0;
}

p {
    color: #4D4D4D;
    font-size: 1.4em;
    line-height: 1.5em;
    margin: 0 0 10px;
}

.contenido {
    text-shadow: 0 1px 0 #FFFFFF;
}

.resultados {
	font-size: 12px;
	width: 85%;
}

.pagination {
	margin: 0 auto;
	text-align: center;
}

.navbar {
	margin: 5px auto;
}

.navbar span {
	height: 20px;
	padding: 6px 7px 0;
	display: inline-block;
	position: relative;

    color: #114D66;
    font-size: 12px;
}

.navbar span a{
	color: #114D66;
    font-size: 12px;
}

.navbar .currentPage {
	font-weight: bold;
	font-size: 18px;
	padding: 0px 5px 6px;

}

.texto {
	font-size: 13px;
	max-width: 85%;
	margin: 0 auto;
}

#tagCloudContainer {
	margin: 0 auto;
	max-width: 85%;
}

#tagCloud {
	width: 450;
	height: 400;
	margin: 0 auto;
}

.columns {
	display: inline-block;
}
.leftColumn, .rightColumn {
	width: 472px;
	height: 100%;
	padding-bottom: 15px;
	margin-top: 2px;
	margin-bottom: 2px;
	display: inline-block;
}

.orColumn{
	text-align: center;
	position: relative;
	top: 28px;
}

.paisesFlags {
	list-style: none outside none;
}

.paisesFlags li {
	display: inline-block;
}

.paisesFlags li a{
	display: inline-block;
	padding: 0 7px;
}

/*TagCloud*/
.tagCloud text { cursor: pointer; }
.tagCloud text:hover { opacity: .7 !important; }

/*Selec2*/

.select2-results{
    font-size: 14px;
    line-height: 20px;
}

.goog-tooltip{
	z-index: 12;
}

.sliderPeriodo{
	padding: 11px 0 20px;
}

.select2-container {
	display: block !important;
	margin: 0 auto !important;
}

#google-visualization-errors-all-1 {
	display: none !important;
}

.blockMsg {
	-moz-border-radius: 10px;
	border-radius: 10px;
}

#chartContainer, #bradfodContainer, #prattContainer{
	left: -25px;
	position: relative;
	width: 1000px; 
	height: 550px; 
}
#grid {
	height: 100%;
}
#gridContainer {
	position: relative;
	width: 100%; 
}
#gridContainer .dataTable div div{
	overflow: auto;
}

#gridContainer table{
	margin: 0 auto;
}

#chartContainer {
	left: 0px;
}

#chartTitle, #prattTitle, #bradfodTitle, #group1Title, #group2Title {
	width: 950px;
}
.chartTootip {
	margin: 0 auto;
	text-align: center;
	padding: 2px 5px;
}
.dataTable{
	width: 910px !important;
	padding: 20px !important; 
}

.infoBox{
	border: 0px solid #CCC;
	display: table;
	margin: 0 auto;
	font-family: Verdana,Geneva,sans-serif;
	font-size: 14px;
	color: #666666;
}
.infoBox pre { 
	white-space: -moz-pre-wrap; /* Mozilla, supported since 1999 */
	white-space: -pre-wrap; /* Opera */
	white-space: -o-pre-wrap; /* Opera */
	white-space: pre-wrap; /* CSS3 - Text module (Candidate Recommendation) http://www.w3.org/TR/css3-text/#white-space */
	word-wrap: break-word; /* IE 5.5+ */ 
}
/*Formulas*/
.formula{
	font-weight: bold;
	font-size: 16px;
}

.fraction {
	display: inline-block;
	position: relative;
	vertical-align: middle; 
	letter-spacing: 0.01em;
	text-align: center;
	}
.fraction > span { 
	display: block; 
	padding: 0.2em; 
	}
.fraction span.fdn {border-top: thin solid black;}
.fraction span.bar {display: none;}

.n-root {
	position: relative;
	top: -1.3em;
	left: 1.9ex;
	font-size: 45%;
	}
.radical {
	font-size: 1.7em;
	vertical-align: middle;
	}
.radicand { 
	padding: 0.5ex;
	border-top: thin black solid;
	}

.intsuma {
	display: inline-block;
	position: relative;
	vertical-align: middle;
	text-align: center;
	margin-bottom: 0.5ex;
	}
.intsuma .lim, .intsuma .lim-up {
	display: block;
	font-size: 75%;
	text-align: center;
	}
.intsuma .lim-up {
	margin-bottom: 0;
	margin-left: 0.8ex;
	}
.intsuma .lim {margin-bottom: -0.6ex;}
.intsuma .sum {font-size: 1.2em;}
.intsuma .sum-frac {font-size: 2em;}

/*Table styles*/
.google-visualization-table-table td {
	text-align: center;
}

.google-visualization-table-table td:first-child,
.groupTable .google-visualization-table-table td:nth-child(2) {
	text-align: left;
}

#floatTableContainer {
	display: none;
}

#gridTable {
	margin: 0 auto;
}