.search
{
	border: 1px solid #000000;
	width: 500px;
	background: #FFFFFF;
}

.search input[type="text"]
{
	background: none;
	border: 0 none;
	float: left;
	height: 1.5em;
	line-height: 1.5em;
	margin: 0;
	width: 480px;
}

.search input[type="submit"]
{
	background: #FFFFFF url(./images/search.png);
	border: 0 none;
	height: 1.5em;
	line-height: 1.5em;
	margin: 0;
	padding: 3px 0;
	text-indent: 100px;
	width: 20px;
}

.search input[type="submit"]:hover
{
	cursor: pointer;
	cursor: hand;
}

.centrado
{
	margin: 0 auto;
	text-align: center;
}


.highlight {
	background-color: #FFFF88;
	font-weight: bold;
}
