@charset "utf-8";
/* CSS de Biblat */
/* Diseño: Carolina Silva Bretón y Alfredo Batta Albertos*/


/*-----Main structure-----*/
body {
	background: url(../img/px_body.jpg) repeat-x top #e7e7e7;
	margin: 0px auto;
	padding: 0px;
	vertical-align: top;
}

#wrapper{
	margin: 0px auto;
	padding: 10px;
	background: transparent;
	width: 1024px;
	height: auto;
	vertical-align: top;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif, FontAwesome;
	font-size: 14px;
	color: #606060;
}

/*-----Sliders de index-----*/
#mainSlider {
	width: 1022px;
	height: 300px;
	float: left;
	margin-bottom: 8px;
	border: 1px solid green;
}

#sliderPais {
	width: 434px;
	height: 200px;
	border: 1px solid green;
}

/*-----Fin sliders index-----*/


/*-----Disciplinas index-----*/

.tagCloud text {
    cursor: pointer;
    text-align: left;
}
.tagCloud text:hover {
    opacity: 0.7 !important;
}

/*-----Fin disciplinas index-----*/

#content_izq {
	width: 535px;
	height: auto;
	background: #FFF;
	float: left;
	margin-left: 8px;
	vertical-align: top;
	padding: 5px;
}

#content_der {
	width: 435px;
	height: auto;
	background: #FFF;
	float: right;
	margin-right: 10px;
	vertical-align: top;
}

#content_der div img{
	text-align: right;
	float: right;
}

#titulo_index {
	width: 100%;
	height: 40px;
	background: url(../img/plk_h.jpg) no-repeat left bottom #FFF;
}
/*-----Header------*/ 
#header {
	width: 100%;
	height: 86px;
	background: url(../img/px_header.jpg) repeat-x;
}
	
#logo-biblat {
	margin: 0;
	float: left;
}

#logo-unamdgb {
	margin: 0;
	float: right;
}

/*-----Nav-----*/
#nav {
	width: 102%;
	height: 45px;
	color: transparent;
}

/*-----Main menu-----*/
.menu {
	display: block;
	border-radius: 4px;
	float: right;
	text-align: center;
	background: #FF8000;
	width: 646px;
	height: 45px;
	vertical-align: center; 
	margin-right: 42px;
	margin-bottom: 5px; 
}

.menu a:link, 
.menu a:visited, 
.menu a:hover, 
.menu a:active {
	color: #FFFFFF;
	text-decoration:none;
} 

.menu ul {
	list-style: none outside none;
	padding: 0;
}

.menu li {
	border-right: 1px solid rgba(255, 255, 255, 0.70);
	cursor: pointer;
    display: inline-block;
    position: relative;
    text-shadow: 0 0 2px #000000;
    top: -2px;
    transition: all 0.2s ease 0s;
    -webkit-transition: all 0.2s ease 0s;
    padding: 0px 6px;
    color: #FFFFFF;
    font-size: 16px;
    text-align: left;
}

.menu .noBorde li {
	border-right: none;
}

.menu ul li:hover > ul {
	margin-top: -4px;
	margin-left: 2px;
    display: block;
    opacity: 1;
    visibility: visible;
}

.menu ul li ul {
	border-top: 1px solid #FF8000;
	box-shadow: -4px 8px 5px rgba(0, 0, 0, 0.5);
	background-color: #FF8000;
    display: none;
    left: -2px;
    opacity: 0;
    padding: 0;
    position: absolute;
    top: 28px;
    transition: opacity 0.2s ease 0s;
    visibility: hidden;
    z-index: 400;
}

.menu ul li ul li:hover {
	background-color: #424242;
}

.menu ul li ul li{
	border: 0;
	display: block;
    float: none;
    border-bottom: 1px solid #FFFFFF;
}

.menu ul ul ul {
  left: 100%;
  top: 0;
  box-shadow: 4px 8px 5px rgba(0, 0, 0, 0.5);
  display: none;
}

.menu ul ul li:hover > ul{
	display: block;
	margin-left: 0px;
}

.menu ul ul ul li{
	white-space: nowrap;
}

/*-----Fin main menu-----*/


/* Search Bar */
#mainSearchContainer {
	width: 1020px;
	background-color: transparent;
	margin: 0 1px;
	padding: 7px 3px;
	display: inline-block;
	height: auto;
}

#mainSearchContainer .searchform {
	height: 40px;
	width: 700px;
}

#mainSearchContainer .optionsMenu {
	top: 30px;
}

.optionsMenu li .fa {
	width: 18px;
	text-align: center;
	padding: 0 10px;
}

.optionsMenu li:hover {
	text-decoration: underline;
}

.searchContainer {
	width: 720px;
	background-color: transparent;
	margin: 0 1px;
	padding: 7px 3px;
	float: right;
	height: auto;
}

.searchform {
	background: none;
	-webkit-box-shadow: inset 0 0 2px rgba(0,0,0, 0.4), rgba(255,255,255,0.1) 0 1px 0;
	border-radius: 4px;
	border: 1px solid rgba(0,0,0,0.25);
	color: #000000;
}

.searchform {
	width: 644px;
	padding: 0;
	border-radius: 4px;
	position: relative;
	margin: 0 auto;
	background-color: #E6E6E6;
	height: auto;
}

.searchform textarea, .autosizejs {
	text-decoration: none;
	font-size: 13px;
	padding: 2px 11px;
	margin: 0 32px;
	background-color: #E6E6E6;
	border-style: none;
	color: #6E6E6E;
	line-height: 1.3;
	width: 553px;
	height: 24px;
	box-shadow: none;
	resize: none;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif, FontAwesome;
	text-align: center;
	vertical-align: center;
}

.searchform textarea:focus, .searchform textarea::-moz-focus-inner,
.searchform button:focus, .searchform button::-moz-focus-inner {
	outline: none;
	border: 0;
}

.searchform textarea::-webkit-input-placeholder {
	color: #000000;
}
.searchform textarea:-moz-placeholder { /* 1 */
	color: #000000;
}
.searchform textarea::-moz-placeholder {
	color: #000000;
}
.searchform textarea:-ms-input-placeholder {
	color: #000000;
}
.searchform textarea:placeholder { /* 2 */
	color: #000000;
}

.searchform * {
	font-size: 13px;
	vertical-align: middle;
}

.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
}

.icon-search:before {
	content: "\f002";
	color: #000000;
}
.icon-articulo:before {
	content: "\f0f6   \f0d7";
	color: #000000;
}
.icon-autor:before {
	content: "\f007   \f0d7";
	color: #000000;
}
.icon-institucion:before {
	content: "\f0f7   \f0d7";
	color: #000000;
}
.icon-revista:before {
	content: "\f02d   \f0d7";
}
.icon-palabra-clave:before {
	content: "\f084   \f0d7";
}
.icon-todos:before {
	content: "\f0c2   \f0d7";
	font-size: 14px !important;
	color: black;
}
.icon-avanzada:before {
	content: "\f00e   \f0d7";
	font-size: 14px !important;
	color: black;
}

[class^="icon-"],
[class*=" icon-"] {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  display: inline;
  width: auto;
  height: auto;
  line-height: normal;
  vertical-align: baseline;
  background-image: none;
  background-position: 0% 0%;
  background-repeat: repeat;
  margin-top: 0;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
    display: inline-block;
    text-decoration: inherit;
}

.searchform .icon-search {
	position: absolute;
	right: 10px;
	top: 1px;
	bottom: 3px;
	border-width: 0;
	border-left: 1px solid rgba(7, 7, 7, 0.65);
	background-color: transparent;
	padding: 0 0 0 7px;
	opacity: 0.40;
	color: #000000;
	font-size: 16px;
}

.searchform .icon-search{
	cursor: pointer;
	color: #000000;
}

.searchform #options {
	position: absolute;
	left: 7px;
	top: 1px;
	bottom: 3px;
	border:0;
	background-color: transparent;
	padding: 0px;
	opacity: 0.40;
	color: #000000;
	font-size: 16px;
	outline: none;
}

.show{
	display: block;
}
.searchform #options:focus, .searchform #options::-moz-focus-inner {
	outline: none;
	border: 0;
}

.searchform #options:hover{
	cursor: pointer;
}

.searchform .optionsMenu{
	display: none;
	position: absolute;
	list-style: none;
	padding: 4px 0;
	left: 0px;
	top: 15px;
	z-index: 20;
	background-color: #E6E6E6;
	-webkit-box-shadow: inset 0 0 2px rgba(0,0,0, 0.4), rgba(255,255,255,0.1) 0 1px 0;
	box-shadow: inset 0 0 2px rgba(0,0,0, 0.4), rgba(255,255,255,0.1) 0 1px 0;
	border-radius: 5px;
	border: 1px solid rgba(0,0,0,0.25);
	width: 100%;
	margin-top: 15px;
}

/*-----Banner-----*/
#banner {
	width: 100%;
	height: 100px;
	margin: 0;
	padding: 0;
	vertical-align: top;
	background-color: transparent;
}

/*-----Slider------*/


/*-----Content-----*/
#content_int {
	width: 100%;
	height: auto;
	background: #FFF;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif, FontAwesome;
	font-size: 14px;
	color: #606060;
	margin: 0;
	padding: 0;
	float: left;
}

#content {
	width: 920px;
	height: auto;
	background: #FFF;
	float: left;
	padding-left: 50px;
	padding-right: 50px;
	vertical-align: top;
}

#encabezado {
	width: 930px;
	height: 100px;
	margin: auto;
	padding: 0;
	background: #FFF;
}

#migas {
	width: 640px;
	height: 30px;
	background: #FFF;
	padding: 10px;
	margin: 0;
	float: left;
}

#migas p {
	color: #606060;
	font-size: 11px;
	padding-left: 20px;
	font-family: inherit;
}
	
#share {
	width: 165px;
	height: 77px;
	float: right;
	background: #fff;
	color: #FFF;
	font-family: FontAwesome;
	font-size: 22px;
	text-align: center;
	vertical-align: top;
	float: right;
}

#share1 a {
	color: #FFFFFF;
	text-decoration: none;
}

#share2 a {
	color: #B1B2B4;
	text-decoration: none;
}
#share1 {
	width: 100%;
	height: 34px;
	background: #b1b2b4;
	text-align: center;
	padding-top: 6px;
}

.materiales {
	width: 300px;
	height: 300px;
	padding-left: 80px;
	padding-bottom: 20px;
	float: left;
	margin: 2px;

}

.space {
	letter-spacing: 7px;
}

cite {
	font-style: normal;
}

cite a {
	font-style: italic;
}

#share1 a.share:link, #share1 a.share:visited, #share1 a.share:active {
	color: #FFF;
	font-size: 10px;
	margin: 0;
	text-decoration: none;
	vertical-align: top;
}

#share1 a.share:hover{
	text-decoration:underline;
}

#share1 div{
	background:#b1b2b4;
	float:right;
	padding-top:12px;
	padding-right:10px;
}

#share2{
	width:100%;
	height:40px;
	background:#fff;
	letter-spacing: 7px;
	text-align: center;
}

.titulo_int{
	width:700px;
	background:#fff;
	border-bottom:#808080 1px solid;
	border-top:#808080 1px solid;
	float:left;
	margin-left:20px;
	margin-top: 10px;
}

.titulo_int h1{
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif, FontAwesome;
	font-size:20px;
	color:#df6521;
	margin-bottom: 5px;
	padding: 5px 0px 0px 20px;
	text-align:left;
}

#content_txt{
	width:890px;
	height:auto;
	background:url(../img/sombra_content.jpg) no-repeat top left;
	padding:25px;
	margin: auto;
	float: left;
}

#content_txt p {
	line-height:1.5;
	color:#606060;
	font-size:14px;
	text-align: justify;
}

#content_txt table {
	margin: auto;
	width: 90%;
}

#content_txt table a {
	text-decoration: underline;
}
.cien{ 
width:752px;
background:#FFF;
margin:0;
}

.cien h1 {
	font-size: 17px;
	margin-bottom: 5px;
}
	
/*---- SITE -----*/
#site {
	width: 100%;
	background: url(../img/px_site.jpg) repeat-x top left #cacaca;
	height: 137px;
	float: left;
}

.site_col {
	width: 28%;
	height: auto;
	vertical-align: top;
	margin: 0;
	padding-top: 10px;
	padding-left: 20px;
	float: left;
}

.site_col a:link {
	color: #6a6a6a;
	font-size: 12px;
	text-align: left;
	padding:5px 10px;
	text-decoration: none;
}

.site_col a:hover {
	color: #333;
	text-decoration: underline;
}

/*----FOOTER-----*/
#footer{
	width:100%;
	background:#FF8000;
	color:#FFF;
	font-size:11px;
	text-align:center;
	margin:0;
	padding:5px 0px 5px 0px;
}

#footer a {
	color: #525252;
	font-weight: bold;
	font-size: inherit;
}

#footer a:hover{
	color: #fff;
	font-size: inherit;
}
 
#px_foot{
	width: 100%;
	height: 20px;
	vertical-align: bottom;
	background: #FF8000;
}

/*+++++++++++++++++++++++   HIPERVÍNCULO +++++++++++++++++++++++++++++++++++++++++++*/

a:link, a:visited, a:active{
	color:#FF8000;
	text-decoration:none;
	font-size:inherit;
	font-family:inherit;
}

a:hover{
	color:#FF8000;
	text-decoration:underline;
	font-size:inherit;
	font-family:inherit;
}		
	
/*----------------- TEXTO GENERAL -----------------------*/

li{
	line-height:1.5;
	color:#606060;
	font-size:14px;
	text-align: justify;
}

.tablaMetodologia {
	border-width: 1px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif, FontAwesome;
	font-size: 10pt;
	border-collapse: collapse;
	text-align: justify;
}

.tablaMetodologia td,th {
	border: 1pt dotted #000000;
}

table {
	margin-top: 10px;r
}

.biblat {
	color: #FF8000;
}
/*----------------- GRÁFICOS GENERAL -----------------------*/

.img_left{
	float:left;
	margin:0px 5px 5px 0px;
}

/* info box y fórmulas para indicadores*/
.infoBox pre { 
	white-space: -moz-pre-wrap; /* Mozilla, supported since 1999 */
	white-space: -pre-wrap; /* Opera */
	white-space: -o-pre-wrap; /* Opera */
	white-space: pre-wrap; /* CSS3 - Text module (Candidate Recommendation) http://www.w3.org/TR/css3-text/#white-space */
	word-wrap: break-word; /* IE 5.5+ */ 
}
/*Formulas*/
.formula{
	font-weight: bold;
	font-size: 16px;
	text-align: center;
}

.fraction {
	display: inline-block;
	position: relative;
	vertical-align: middle; 
	letter-spacing: 0.01em;
	text-align: center;
	}
.fraction > span { 
	display: block; 
	padding: 0.2em; 
	}
.fraction span.fdn {border-top: thin solid black;}
.fraction span.bar {display: none;}

.n-root {
	position: relative;
	top: -1.3em;
	left: 1.9ex;
	font-size: 45%;
	}
.radical {
	font-size: 1.7em;
	vertical-align: middle;
	}
.radicand { 
	padding: 0.5ex;
	border-top: thin black solid;
	}

.intsuma {
	display: inline-block;
	position: relative;
	vertical-align: middle;
	text-align: center;
	margin-bottom: 0.5ex;
	}
.intsuma .lim, .intsuma .lim-up {
	display: block;
	font-size: 75%;
	text-align: center;
	}
.intsuma .lim-up {
	margin-bottom: 0;
	margin-left: 0.8ex;
	}
.intsuma .lim {margin-bottom: -0.6ex;}
.intsuma .sum {font-size: 1.2em;}
.intsuma .sum-frac {font-size: 2em;}

/*Table styles*/
.google-visualization-table-table td {
	text-align: center;
}

.google-visualization-table-table td:first-child,
.groupTable .google-visualization-table-table td:nth-child(2) {
	text-align: left;
}

#floatTableContainer {
	display: none;
}

div.pq-grid-title{
	text-align: center;
}

.context-menu-list [class^="icon-"],
.context-menu-list [class*=" icon-"] {
  display: block;
}

.context-menu-list [class^="icon-"]:before, [class*=" icon-"]:before {
    display: block;
}

/*frecuencias*/
.pagination {
	margin-top: 30px;
	text-align: center;
	height: 50px;
}

.pagination .navbar {
	letter-spacing: 8px;
}

#content_txt #frecuencia {
	width: 75%;
	margin: auto;
}
/*--- General styles ---*/
.cf {
	clear: both;
}

/*-----Estilos anteriores de biblat-----*/
#gridTable {
	margin: 0 auto;
	text-shadow: none;
}

#paisesFlags li a{
	display: inline-block;
	padding: 0 7px;
}


/*-----Nuevos estilos-----*/
.nivoSlider {
    height: auto;
    overflow: hidden;
    position: relative;
    width: 100%;
}
.nivoSlider img {
    left: 0;
    max-width: none;
    position: absolute;
    top: 0;
}
.nivo-main-image {
    display: block !important;
    position: relative !important;
    width: 100% !important;
}
.nivoSlider a.nivo-imageLink {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 0 none;
    display: none;
    height: 100%;
    left: 0;
    margin: 0;
    opacity: 0;
    padding: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 6;
}
.nivo-slice {
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 5;
}
.nivo-box {
    display: block;
    overflow: hidden;
    position: absolute;
    z-index: 5;
}
.nivo-box img {
    display: block;
}
.nivo-caption {
    background: none repeat scroll 0 0 #000000;
    bottom: 0;
    box-sizing: border-box;
    color: #FFFFFF;
    display: none;
    left: 0;
    opacity: 0.8;
    overflow: hidden;
    padding: 5px 10px;
    position: absolute;
    width: 100%;
    z-index: 8;
}
.nivo-caption p {
    margin: 0;
    padding: 5px;
}
.nivo-caption a {
    display: inline !important;
}
.nivo-html-caption {
    display: none;
}
.nivo-directionNav a {
    cursor: pointer;
    position: absolute;
    top: 45%;
    z-index: 9;
}
.nivo-controlNav {
    left: 80px;
    padding: 15px 0;
    position: absolute;
    text-align: center;
    top: 245px;
    z-index: 12;
}
.nivo-controlNav a {
    cursor: pointer;
}
.nivo-controlNav a.active {
    font-weight: bold;
}
.futurico-theme.slider-wrapper {
    background: none repeat scroll 0 0 #CACBCC;
    border-radius: 5px;
    height: 290px;
    margin: 0;
    padding: 1px;
    position: relative;
    width: 980px;
}
.futurico-theme .nivoSlider {
    height: 290px;
    position: relative;
    width: 980px;
}
.futurico-theme .nivoSlider img {
    display: none;
    height: 290px;
    left: 0;
    position: absolute;
    top: 0;
    width: 980px;
}
.futurico-theme .nivo-controlNav a {
    background: none repeat scroll 0 0 #505050;
    border-radius: 16px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5) inset, 0 1px 1px rgba(255, 255, 255, 0.05);
    display: block;
    float: left;
    height: 16px;
    margin-right: 5px;
    text-indent: -9999px;
    width: 16px;
}
.futurico-theme .nivo-controlNav a.active, .futurico-theme .nivo-caption span {
    background: -moz-linear-gradient(center top , #FF8001 0%, #FF4800 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 1px 1px rgba(255, 255, 255, 0.4) inset, 0 1px 1px rgba(0, 0, 0, 0.3);
}
.futurico-theme .nivo-directionNav a {
    color: #DAD5D1;
    display: block;
    font-family: 'Consolas',sans-serif;
    font-size: 40px;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.05);
    top: 60px;
}
.futurico-theme a.nivo-prevNav {
    left: 5px;
    top: 120px;
}
.futurico-theme a.nivo-nextNav {
    right: 5px;
    top: 120px;
}
#img1 {
    background: url("../img/slide1.jpg") no-repeat scroll left top rgba(0, 0, 0, 0);
    height: 290px;
    width: 980px;
}
#img2 {
    background: url("../img/slide2.jpg") no-repeat scroll left top rgba(0, 0, 0, 0);
    height: 290px;
    width: 980px;
}
#img3 {
    background: url("../img/slide3.jpg") no-repeat scroll left top rgba(0, 0, 0, 0);
    height: 290px;
    width: 980px;
}
#img4 {
    background: url("../img/slide4.jpg") no-repeat scroll left top rgba(0, 0, 0, 0);
    height: 290px;
    width: 980px;
}
#s7 {
    background-color: #FFFFFF;
}
#s7 div {
    color: #333333;
    font-size: 14px;
    overflow: hidden;
    padding: 15px;
    text-align: left;
}
#big {
    text-align: left;
    width: 500px;
}
td a {
    margin: 5px;
}
.nav {
    margin: 5px 0;
}
#nav a, #s7 strong {
    background: none repeat scroll 0 0 #F6F6F6;
    border: 1px solid #CCCCCC;
    margin: 0 5px;
    padding: 0 5px;
    text-decoration: none;
}
#nav a.activeSlide {
    background: none repeat scroll 0 0 #EEAA00;
}
#nav a:focus {
    outline: medium none;
}
#output {
    text-align: left;
}
.amarillo {
    color: #EF7E00;
    font-size: 14px;
}
a.indiA {
    color: #505050;
    font-family: inherit;
    font-size: 14px;
    line-height: 1;
}
a.indiB {
    color: #757575;
    font-family: inherit;
    font-size: 14px;
    line-height: 1;
}

#tablaresultados{
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif, FontAwesome;
	font-size:12px;
        border-bottom: 1px solid #ffffff;
        border-collape:collapse;
        width: 80%;
	-webkit-box-shadow: 1px 0 2px black;
        -moz-box-shadow: 1px 0 2px black;
        box-shadow: 2px 0 2px #999;	
        border-radius: 8px;
}
#tablaresultados td{
	border-bottom:1px dotted #999;
}

#tablaresultados td:hover{
	background-color:#cccccc;
	border-bottom:1px dotted #CCC;
}

.acumuladas{
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif, FontAwesome;
	font-size:12px;
	text-align:right;	
        color:#cc6600;
        font-weight:bold;
}

.indicadores{
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif, FontAwesome;
        font-size:12px;
        text-align:center;
}

.articulo {
    color: #666666;
    font-size: 0.8em;
    margin: 0 auto;
    padding: 10px 18px;
    text-align: center;
    z-index: 100;
}

.pq-link .pq-td-div {
    cursor: pointer;
    text-decoration: underline;
}

.columns {
	width: 100%;
	height: auto;
}

.leftColumn, .rightColumn {
	width: 440px;
	padding-bottom: 15px;
	display: inline-block;
}

.dataTable {
    padding: 20px !important;
    width: 910px !important;
}

.textoTitulo {
    color: #666666;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif, FontAwesome;
    font-size: 16px;
    font-weight: bold;
    padding: 20px;
}

.centrado {
    margin: 0 auto;
    text-align: center;
}

.select2-results {
    font-size: 13px;
    line-height: 14px;
}
.goog-tooltip {
    z-index: 12;
}
.sliderPeriodo {
    padding: 11px 0 20px;
}
.select2-container {
    display: block;
    margin: 0 auto;
}
.select2-container-multi .select2-choices {
    border-radius: 4px;
}
#google-visualization-errors-all-1 {
    display: none !important;
}
.blockMsg {
    border-radius: 10px;
}
#chartContainer, #bradfodContainer, #prattContainer {
    height: 550px;
    left: -25px;
    position: relative;
    width: 1000px;
}

#grid {
    height: 100%;
}
#gridContainer {
    position: relative;
    width: 100%;
}
#gridContainer .dataTable div div {
    overflow: auto;
}
#gridContainer table {
    margin: 0 auto;
}
#chartContainer {
    left: 0;
}

.texto {
	font-size: 13px;
	max-width: 85%;
	margin: 0 auto;
	text-align: justify;
	vertical-align: bottom;
}

.disponibles {
    color: #990000;
    font-size: 15px;
    font-weight: bold;
}