@charset "utf-8";
/* CSS de Biblat */
/* Diseño: Carolina Silva Bretón y Alfredo Batta Albertos*/

/*----HEADER-----*/ 


#slider{
	margin:0px auto;
	/*border:#cbcccd 1px solid;*/
	width:980px;
	height:290px;
}	

/*----CONTENT-----*/
#content{
	width:100%;
	height:auto;
	background:#FFF;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#505050;
}
	
#titulo_index{
	width:100%;
	height:40px;
	background:url(../img/plk_h.jpg) no-repeat left bottom #FFF;
}	

#titulo_index p{
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:20px;
	color:#505050;
	margin:0; padding:0;
	text-align:left;
}
	
#info_index{
	width:95%;
	height:290px;
}

#alfabetico{
	background:url(../img/fdo_abc.jpg) no-repeat #FFF;
	height:150px;
	margin:10px 0px;
}

#alfabetico p{
	text-align:center;
	margin:10px;
	padding-top: 50px;
	font-size: 13px;
}		

/*---- SITE -----*/
#site{
	width:100%;
	background: url(../img/px_site.jpg) repeat-x top left #cacaca;
	height:137px;
}

.site_col{
	width:28%;
	height:auto;
	vertical-align:top;
	margin:0;
	padding-top:10px;
	padding-left:20px;
	float:left;
}

.site_col a:link, .site_col a:visited, .site_col a:active{
	color:#6a6a6a;
	font-size:12px;
	text-align:left;
	padding:5px 10px;
	text-decoration:none;
}

.site_col a:hover{
	color:#333;
	text-decoration:underline;
}

/*----FOOTER-----*/

#px_foot{
	width:100%;
	height:20px;
	vertical-align:bottom;
	background:#ff8000;
}

/*+++++++++++++++++++++++   HIPERVÍNCULO +++++++++++++++++++++++++++++++++++++++++++*/

a:link, a:visited, a:active{
	color:#ff8000;
	text-decoration:none;
	font-size:inherit;
	font-family:inherit;
}

a:hover{
	color:#ff8000;
	text-decoration:underline;
	font-size:inherit;
	font-family:inherit;
}	
	
a.leer_mas:link, a.leer_mas:visited, a.leer_mas:active{
	color:#adadad;
	text-decoration:none;
}

a.leer_mas:hover{
	color:#adadad;
	text-decoration:underline;
}

a.leer_mas img{
	vertical-align:middle;
}	
	
a.abc:link, a.abc:visited, a.abc:active{
	color:#505050;
	font-weight:bold;
	margin:0;
	padding:2px;
	background:#f7f7f7;
	text-decoration:none;
	font-size:17px;
}

a.abc:hover{
	color:#fff;
	font-weight:bold;
	margin:0;
	padding:2px;
	background:#ff8000;
	text-decoration:none;
	font-size:18px;
}