/* Interaction states
----------------------------------*/
.ui-widget-content{
	border: 0px;
	background: transparent;
}

.ui-widget-header{
	border: 0px;
	background: transparent;
}
.ui-tabs {
	padding: 0px;
}
.ui-tabs .ui-tabs-nav li a{
	padding: 0px;
}
.ui-tabs .ui-tabs-panel {
	padding: 0px;
}
.chartTab a,
.chartTab a:link,
.chartTab a:visited{
	width: 32px;
	height: 32px;
	display: block;
	text-decoration: none;
	background: url(../img/chart.png) no-repeat;
}
.gridTab a,
.gridTab a:link,
.gridTab a:visited{
	width: 32px;
	height: 32px;
	display: block;
	text-decoration: none;
	background: url(../img/table.png) no-repeat;
}
.infoTab a,
.infoTab a:link,
.infoTab a:visited{
	width: 32px;
	height: 32px;
	display: block;
	text-decoration: none;
	background: url(../img/info.png) no-repeat;
}
.ui-state-default a,
.ui-state-default a:link,
.ui-state-default a:visited{
	background-position: bottom;
}

.ui-state-hover a,
.ui-state-hover a:hover,
.ui-state-hover a:link,
.ui-state-hover a:visited {
	background-position: top;
}

.ui-state-active a,
.ui-state-active a:hover,
.ui-state-active a:link,
.ui-state-active a:visited {
	background-position: top;
}

/*Select2*/
#generarIndicador .select2-container{
	display: block !important;
	margin: 0 auto;
}